/*
* @Author: Administrator
* @Date:   2019-06-11 08:15:22
* @Last Modified by:   Administrator
* @Last Modified time: 2019-06-11 20:36:40
*/
*{
    padding: 0;
    margin: 0;
}
li{
	list-style: none;
}
a{	
	color:#000 ;
	text-decoration: none;
}
.a{
	width: 1800px;
    background-color: #f4f4f4;
    text-decoration: none;
    height: 33px;
}
.a div{
	float: left;
}
.a1{
	width:1400px;
}
.b{
	margin-left: 100px;
	float: left;
	width: 1800px;
}
.b div{
	float: left;
}
.b2{
	margin-left: 300px;
	width: 500px;
	height: 40px;
	border: 2px solid #e00304;
	background-color: #e00304;
}
.b2 form input{
	width: 405px;
	height: 34px;
	color: #cccc;
}
.b2 form a{
	text-decoration: none;
	color: #ffffff;
	width: 412px;
	height: 44px;
}

.b3{
	margin-left: 300px;
	background-color: #f5f5f5 ;
	text-indent: 40px;
	width: 180px;
	height: 40px;
	line-height: 40px;
	border: 1px solid #ccc;
}
.b4{
	background-color: red;
	color: white;
	width: 94px;
	height: 44px;
}
.c{
	float: left;
	width: 1800px;
	border-bottom: 2px solid #fd0304;
}
.c{
	padding-left: 50px;
	width: 1800px;
}
.c li{
	list-style-type: none;
	float: left;
	color: #000;
}
.c li a{
	text-decoration: none;
	color: #000;
	width: 150px;
	height: 35px;
}
.c li a:hover{
	background-color: #fd0304;
	width: 100px;
	height: 80px;
	color: #ffffff;
	padding: 5px 10px 5px 10px;
	border-radius: 5px;
}
.d{ 
	width: 1800px;
	padding-left: 20px;
	margin-left: 181px;
}
	.d{
        		width:1250px;
        		height:750px;
        		margin:0 auto;
        	}
        	.d1{
        		width:1200px;
        		height:36px;
        		background-color:#f4f4f4;
        		list-style:none;
        	}
        	.d2{
        		width:240px;
        		height:36px;
        		list-style:none;
        		border:3px solid #f4f4f4;;
        		background-color:white;
        		float:left;
        		background:url(2.png) no-repeat 30px;
        	}
        	.d2 li{
        		margin-left:95px;
        		margin-top:7px;
        	}
 .e6{
                margin-top:6px;
                height:10px;
                width:220px;
                text-align:center;
                font-size:14px;
                color:#d4d4d4;
            }
            .e7{
                margin-top:4px;
                height:6px;
                width:220px;
                text-align:center;
                font-size:6px;
            }

.h{
    height:250px;
     background-color:#2E2E2E;
    }
.h1{
    width:1200px;
    height:150px;
    margin:0 auto;
    border-bottom:solid 1px #454545;
    }
.h2{
    width:200px;
    height:150px;
    float:left;
    padding:0;
    }
.h2 li{
    font-size:10px;
    padding-bottom:15px;
    list-style:none;
    color:white;
    }
.h2{
    float:left;
    color:white;
    }
#head{
    font-size:17px;
    }
.h2 ul{
    list-style:none;
    }
.h2 li{
    font-size:10px;
    padding-bottom:15px;
	}
.i a{
	color: #ccc;
	line-height: 3.0;
}
.i{
	text-align:center;
	color: #ccc;
	line-height: 3.0;
}